* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.box {
    width: 700px
}
h1 {
    text-align: center;
    padding: 20px;
}
h4 {
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
    border-top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
}
p {
    color: #4cae4c;
    padding: 50px 17px 10px 17px;
}
.backgroud-1 {
    background-color: #0081ff;
}
.backgroud-2 {
    background-color: #00ff4b;
}
.backgroud-3 {
    background-color: #ff0062;
    color: #ffffff;
}
.p-section {
    height: 250px;
    background-color: #3e2723;
    border: 1px solid black;
    margin-bottom: 30px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 992px)
    {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
    padding: 20px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) 
{
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
    .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, 
    .col-sd-11, .col-sd-12 {
        float: left;
        border: 1px solid green;
    } 
  .col-sd-1 {
    width: 8.33%;
  }
  .col-sd-2 {
    width: 16.66%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33.33%;
  }
  .col-sd-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
}